
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    color: #0d1b2a;
    background-color: #e0e1dd;
    position: relative;
    min-height: 100%;
}

a {
    text-decoration: none;
    color: #0d1b2a;
}

button {
    border: none;
    color: #fff;
}

ul {
    list-style: none;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.row {
    margin: 0 16px;
}

body.modal_open {
    overflow: hidden;
}