.footer {
    width: 100%;
    background: #415a77;
    position: absolute;
    bottom: 0;
    left: 0;    
    &__wrapper {
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        span {
            position: relative;
            &:before {
                content: "\00a9";
                width: 20px;
                height: 20px;
                font-size: 20px;
                position: absolute;
                top: 50%;
                left: -15px;
                transform: translateY(-50%);
            }
        }
    }
}